@font-face {
  font-family: "FuturaDemiC";
  src: url("../assets/fonts/FuturaDemiC/FuturaDemiC.otf");
  src: url("../assets/fonts/FuturaDemiC/FuturaDemiC.ttf");
  font-style: normal;
  font-weight: normal;
}
    
@font-face {
  font-family: "FuturaBookC";
  src: url("../assets/fonts/FuturaBookC/FuturaBookC.ttf");
  font-style: normal;
  font-weight: normal;
}
  
@font-face {
  font-family: "Yeseva One";
  src: url("../assets/fonts/Yeseva-One/YesevaOne-Regular_v2.otf");
  font-style: normal;
  font-weight: normal;
}