// --- Common vars --- 

$FuturaDemiC: FuturaDemiC, sans-serif;
$FuturaBookC: FuturaBookC, sans-serif;
$YesevaOne: "Yeseva One", sans-serif;

$main-color: #131313;

$main-text-color: white;
$second-text-color: #E3B873;
$grayish-text-color: rgba(255, 255, 255, 0.3);

$content-width: 1438px;
$content-width-mobile: 375px;

$btn-box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
$active-btn-box-shadow: inset 0 0 0 10px 10px #000000;
$btn-border-radius: 2px;
$btn-border: 1px solid white;
$button-font-size: 13px;

// --- Header vars --- 

$header-height: 83px;
$header-height-mobile: 57px;
$header-font-size: 14px;
$header-font-size-mobile: 12px;

$request-call-btn-width: 161px;
$request-call-btn-height: 37px;

// --- Instagram block and Main image block vars  ---

$instagram-block-width: 82px;
$main-picture-height: 707px;
$main-picture-height-mobile: 476px;

$calc-subm-btn-width: 207px;
$calc-subm-btn-height: 51px;
$calc-subm-btn-width-mobile: 100% !important;

$main-img-url: "../assets/img/image 4.3.png";
