* {
  padding: 0;
  margin: 0;
}

.project-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
 
  display: flex;
  align-items: center;
  justify-content: center;
}

.project-wrapper-small {
  position: absolute;
  top: 0;
  left: 0;
  width: 680px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.project-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#project-frame {
  width: 100%;
  height: 100%;
}

.buttons {
  position: absolute;
  right: 10%;
  bottom: 10%;
}

#switch-view, #back {
  display: block;
  width: 100px;
  height: 40px;
  margin-bottom: 20px;
  border-radius: 20%;
  border: 2px solid black;
}


@media all and (max-width: 680px) {
  #switch-view {
    display: none;
  }
}